.index {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  @include screen('tablet') {
    min-height: 0;
    height: 100vh;
  }

  .bg {
    z-index: 2;
  }

  .grid {
    position: relative;
    z-index: 3;

    &__col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;

      @include screen('tablet', max) {
        padding: 0 22px;
        width: 100%;
      }
    }
  }
}
