extends ../../layouts/default

block head
  - var pageTitle = 'Фонд сердце ЕврАзии'

block content
  +b.index
    +bg
    +grid
      +col(4)
        +logo
        +title
      +col(4)
        +contacts
        +content
