mixin content()
  +b.content&attributes(attributes)
    +e.top
      +e.H2.title EurAsia Heart Foundation
    +e.text
      +e.P Высокий профессионализм, преданность своему делу и&nbsp;уникальный опыт. Благотворительный фонд Сердце ЕврАзии спасает сердца детей и&nbsp;взрослых по&nbsp;всему миру.
