mixin content()
  +b.content&attributes(attributes)
    +e.top
      +e.H2.title EurAsia Heart Foundation
    +e.text
      +e.P Благотворительная гуманитарная организация, специализирующаяся на лечении тяжелых пороков сердца и сердечно-сосудистых заболеваний у детей из Европы и Азии
