mixin contacts()
  +b.contacts&attributes(attributes)
    +e.IMG(src='assets/images/phone.svg').image
    +e.content
      +link(href="tel:+78123244855").contacts__link +7&nbsp;812&nbsp;3244—855
      +e.text Связаться с нами
