// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 100%; // Максимальная ширина контейнера контента
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 8; // Количество колонок в сетке
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки

// ##########
// Цвета
// ##########
$color-basic: white; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-main: #e4953d; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций
$color-background: #262830;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: 'SFUIDisplay', 'Arial', sans-serif; // Основной шрифт сайта
$font-second: 'PFRegalDisplayPro', 'Times New Roman', serif; // Дополнительный шрифт
